# Grouping and Summarising Dataframes

Grouping and aggregation are some of the most frequently used operations in data analysis, especially while doing exploratory data analysis (EDA), where comparing summary statistics across groups of data is common.

For e.g., in the retail sales data we are working with, you may want to compare the average sales of various regions, or compare the total profit of two customer segments. 

Grouping analysis can be thought of as having three parts:
1. **Splitting** the data into groups (e.g. groups of customer segments, product categories, etc.)
2. **Applying** a function to each group (e.g. mean or total sales of each customer segment)
3. **Combining** the results into a data structure showing the summary statistics

Let's work through some examples.

df.groupby().agg(sum,mean,median)

In [74]:
# Loading libraries and files
import numpy as np
import pandas as pd

market_df = pd.read_csv("/Volumes/Personal/Python_pandas/Session4_Session_Materials/global_sales_data/market_fact.csv")
customer_df = pd.read_csv("/Volumes/Personal/Python_pandas/Session4_Session_Materials/global_sales_data/cust_dimen.csv")
orders_df = pd.read_csv("/Volumes/Personal/Python_pandas/Session4_Session_Materials/global_sales_data/orders_dimen.csv")
product_df = pd.read_csv("/Volumes/Personal/Python_pandas/Session4_Session_Materials/global_sales_data/prod_dimen.csv")
shipping_df = pd.read_csv("/Volumes/Personal/Python_pandas/Session4_Session_Materials/global_sales_data/shipping_dimen.csv")

Say you want to understand how well or poorly the business is doing in various customer segments, regions, product categories etc. Specifically, you want to identify areas of business where you are incurrring heavy losses, and want to take action accordingly.

To do that, we will answer questions such as:
* Which customer segments are the least profitable?
* Which product categories and sub-categories are the least profitable?
* Customers in which geographic region cause the most losses?
* Etc.

First, we will merge all the dataframes, so we have all the data in one ```master_df```.

In [75]:
# Merging the dataframes one by one

df_1 = pd.merge(market_df,customer_df, how = 'inner', on = 'Cust_id')
df_2 = pd.merge(df_1,product_df, how = 'inner', on = 'Prod_id')
df_3 = pd.merge(df_2,shipping_df, how = 'inner', on = 'Ship_id')
#master_df = pd.merge(df_3,orders_df, how = 'inner', on = 'Ord_id')

In [76]:
df_1.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE

In [77]:
df_2.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"

In [78]:
df_3.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID,Ship_Mode,Ship_Date
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13920,REGULAR AIR,10-10-2009

In [79]:
df_3.drop(columns = ['Order_ID'], axis = 1, inplace = True)

master_df = pd.merge(df_3, orders_df, how = 'inner', on = 'Ord_id')

master_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category,Ship_Mode,Ship_Date,Order_ID,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,ALBERTA,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",REGULAR AIR,03-03-2012,53026,26-02-2012,LOW

In [80]:
master_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category,Ship_Mode,Ship_Date,Order_ID,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,ALBERTA,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",REGULAR AIR,03-03-2012,53026,26-02-2012,LOW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,...,ALBERTA,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX,EXPRESS AIR,05-01-2012,54214,02-01-2012,MEDIUM
8395,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,...,BRITISH COLUMBIA,WEST,CORPORATE,TECHNOLOGY,COPIERS AND FAX,REGULAR AIR,30-11-2009,52035,27-11-2009,HIGH
8396,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,...,BRITISH COLUMBIA,WEST,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,EXPRESS AIR,22-11-2010,5988,21-11-2010,NOT SPECIFIED
8397,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,...,SASKACHEWAN,PRARIE,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,REGULAR AIR,01-08-2012,27616,30-07-2012,LOW
8398,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,...,BRITISH COLUMBIA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX,REGULAR AIR,12-01-2011,41895,10-01-2011,CRITICAL

## To drop the duplicates in Master.

### Option1 :  Suffixes
#master_df = pd.merge(df_3,orders_df, how = 'inner', on = 'Ord_id', suffixes = ("df_3", "_Orders_df"))

#master_df.head()

### Option2 : Drop
####df_3.drop(columns = ['Order_ID'], axis = 1, inplace = True)

####master_df = pd.merge(df_3, orders_df, how = 'inner', on = 'Ord_id')

####master_df.head()

#### Step 1. Grouping using ```df.groupby()```

Typically, you group the data using a categorical variable, such as customer segments, product categories, etc. This creates as many subsets of the data as there are levels in the categorical variable. 

For example, in this case, we will group the data along ```Customer_Segment```.

In [97]:
# Which customer segments are the least profitable? 

# Step 1. Grouping: First, we will group the dataframe by customer segments

df_by_segment = master_df.groupby("Customer_Segment")

df_by_segment

Note that ```df.groupby``` returns a DataFrameGroupBy object.

#### Step 2. Applying a Function

After grouping, you apply a function to a **numeric variable**, such as ```mean(Sales)```, ```sum(Profit)```, etc.

In [82]:
# Step 2. Applying a function
# We can choose aggregate functions such as sum, mean, median, etc.

df_by_segment['Profit'].mean()

Customer_Segment
CONSUMER          174.627010
CORPORATE         194.975943
HOME OFFICE       156.670290
SMALL BUSINESS    192.270408
Name: Profit, dtype: float64

In [83]:
master_df[['Customer_Segment','Sales']].groupby("Customer_Segment").mean()

                        Sales
Customer_Segment
CONSUMER          1857.859965
CORPORATE         1787.680389
HOME OFFICE       1754.312931
SMALL BUSINESS    1698.124841

In [98]:
shipping_cost_by_segments = master_df[["Customer_Segment", "Shipping_Cost"]].groupby("Customer_Segment").mean()

shipping_cost_by_segments

                  Shipping_Cost
Customer_Segment
CONSUMER              13.024748
CORPORATE             12.698911
HOME OFFICE           12.771757
SMALL BUSINESS        12.995840

In [85]:
master_df[["Customer_Segment", "Product_Base_Margin"]].groupby("Customer_Segment").mean()

                  Product_Base_Margin
Customer_Segment
CONSUMER                     0.512905
CORPORATE                    0.512783
HOME OFFICE                  0.513608
SMALL BUSINESS               0.510258

In [86]:
master_df[["Customer_Segment", "Product_Base_Margin","Sales","Profit"]].groupby("Customer_Segment").mean()

#groupby() with all categorical variable summarized with numerical variables.

                  Product_Base_Margin        Sales      Profit
Customer_Segment
CONSUMER                     0.512905  1857.859965  174.627010
CORPORATE                    0.512783  1787.680389  194.975943
HOME OFFICE                  0.513608  1754.312931  156.670290
SMALL BUSINESS               0.510258  1698.124841  192.270408

Notice that we have indexed the ```Profit``` column in the DataFrameGroupBy object exactly as we index a normal column in a dataframe. Alternatively, you could also use ```df_by_segment.Profit```.

In [87]:
# Alternatively

df_by_segment = master_df.groupby("Product_Category")
df_by_segment

In [88]:
df_by_segment['Sales'].sum()

Product_Category
FURNITURE          5178590.542
OFFICE SUPPLIES    3752762.100
TECHNOLOGY         5984248.182
Name: Sales, dtype: float64

So this tells us that profits are the least in the CONSUMER segment, and highest in the CORPORATE segment.

In [89]:
# For better readability, you may want to sort the summarised series:

#### Step 3. Combining the results into a Data Structure

You can optionally show the results as a dataframe.

In [90]:
# Converting to a df

In [91]:
# Let's go through some more examples
# E.g.: Which product categories are the least profitable?

# 1. Group by product category

In [92]:
# 2. This time, let's compare average profits
# Apply mean() on Profit

FURNITURE is the least profitable, TECHNOLOGY the most. Let's see which product sub-cetgories within FURNITURE are less profitable.

In [96]:
# E.g.: Which product categories and sub-categories are the least profitable?
# 1. Group by category and sub-category


master_df[['Product_Category','Product_Sub_Category','Sales','Profit','Shipping_Cost']].groupby(['Product_Category','Product_Sub_Category']).mean()

           #Numerical Variable                                                 .groupby()  #Categorical_variable.

                                                        Sales       Profit  \
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                        4352.656296  -177.683228
                 CHAIRS & CHAIRMATS               4564.343394   387.693601
                 OFFICE FURNISHINGS                885.905850   127.446612
                 TABLES                           5252.100116  -274.411357
OFFICE SUPPLIES  APPLIANCES                       1698.137189   223.866498
                 BINDERS AND BINDER ACCESSORIES   1117.986437   335.970918
                 ENVELOPES                         707.665854   195.864228
                 LABELS                            135.352604    47.490174
                 PAPER                             364.451314    36.949551
                 PENS & ART SUPPLIES               263.992449    11.950679
                 RUBBER BANDS                       83.835922    -0.573575
                 SCISSORS, RULERS AND TRIMMERS     562.474375   -54.161458
                 STORAGE & ORGANIZATION           1960.041392    12.205403
TECHNOLOGY       COMPUTER PERIPHERALS             1049.968259   124.389815
                 COPIERS AND FAX                 12992.658621  1923.695287
                 OFFICE MACHINES                  6435.303086   913.094748
                 TELEPHONES AND COMMUNICATION     2139.653230   358.948607

                                                 Shipping_Cost
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                           45.746402
                 CHAIRS & CHAIRMATS                  40.188316
                 OFFICE FURNISHINGS                  10.663350
                 TABLES                              57.291440
OFFICE SUPPLIES  APPLIANCES                          15.792880
                 BINDERS AND BINDER ACCESSORIES       7.249749
                 ENVELOPES                            6.840528
                 LABELS                               1.002292
                 PAPER                                6.460743
                 PENS & ART SUPPLIES                  3.225608
                 RUBBER BANDS                         1.258156
                 SCISSORS, RULERS AND TRIMMERS        4.656319
                 STORAGE & ORGANIZATION              17.920348
TECHNOLOGY       COMPUTER PERIPHERALS                 5.365884
                 COPIERS AND FAX                     28.125057
                 OFFICE MACHINES                     21.174807
                 TELEPHONES AND COMMUNICATION         5.483250

Thus, within FURNITURE, TABLES are the least profitable, followed by BOOKCASES.

In [ ]:
# Recall the df.describe() method?
# To apply multiple functions simultaneously, you can use the describe() function on the grouped df object

In [ ]:
# Some other summary functions to apply on groups

In [ ]:
# E.g. Customers in which geographic region are the least profitable?

In [99]:
# Note that the resulting object is a Series, thus you can perform vectorised computations on them

# E.g. Calculate the Sales across each region as a percentage of total Sales
# You can divide the entire series by a number (total sales) easily 

(master_df.groupby("Region").Sales.sum()/sum(master_df['Sales']))* 100

Region
ATLANTIC                 13.504305
NORTHWEST TERRITORIES     5.369193
NUNAVUT                   0.780233
ONTARIO                  20.536970
PRARIE                   19.022396
QUEBEC                   10.124936
WEST                     24.119372
YUKON                     6.542595
Name: Sales, dtype: float64

The regions ONTARIO, WEST and PRARIE comprise of about 64% of the sales.

Until now, we've been working with the data without making changes or additions to it. In the next section, we will create new columns, alter existing columns and apply some more grouping and summarising.